[Unit]
Description=urlshortener SV3
After=network.target

[Service]
Type=simple
User=tbender
Environment=""
WorkingDirectory=/home/tbender/urlshortener
ExecStart=/home/tbender/.nvm/nvm-exec npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target
