[Unit]
Description=urlshortener SV3
After=network.target

[Service]
Type=simple
User=tbender
Environment="PROXY=1"
WorkingDirectory=/home/tbender/urlshortener
ExecStart=/home/tbender/.nvm/versions/node/v16.13.0/bin/node /home/tbender/urlshortener/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
